$greyDark: #040404;
$greyLight: #121212;
$greyLighter: #282828;

.App {
  height: calc(100vh - 90px);
  background: $greyLight;
}

.navBar {
  width: 250px;
  height: 100%;
  background: $greyDark;
  .logo {
    padding: 1.5rem 1.5rem;
    svg {
      max-width: 130px;
      path {
        fill: white;
      }
    }
  }
}

.outerWrap {
  background: $greyDark;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background: $greyLighter;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-items: center;
  color: white;
}